{
  "PLAYCANVAS_BRANCH_ID": "REPLACE_ME",
  "PLAYCANVAS_PROJECT_ID": 0,
  "PLAYCANVAS_USE_CWD_AS_TARGET": true,
  "PLAYCANVAS_API_KEY": "REPLACE_ME",
  "PLAYCANVAS_BAD_FILE_REG": "^\\.|~$",
  "PLAYCANVAS_BAD_FOLDER_REG": "\\.",
  "PLAYCANVAS_CONVERT_TO_POW2": 0
}
